.order-service form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.order-service form input,
textarea {
    width: 75%;
    margin-bottom: 10px;

}

.order-img {
   
height: 35vh;
object-fit: cover;
}

.card {
    border: 1px solid black;
    box-shadow: 5px 5px 20px gray;
    border-radius: 5px;
    padding: 15px;
    margin-top: 5%;
}
