.add-service form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
    margin-bottom: 150px;
}

.add-service form input,
textarea {
    width: 90%;
    margin-bottom: 10px;
}

.addProductGif {
    padding: 10px;

}